*:focus {
    outline: none;
}


input[type="radio"]:focus {
    outline:none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: rgba(50, 96, 168, 0.94);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-size: 16px;
}


.title {
    text-align: center;
    color: rgba(50, 96, 168, 0.94);
    margin-bottom: 40px;
}

.question__content {
    color: #2E8BC0;
}

.question {
    margin-top: 30px;
}

label {
    cursor: pointer;
    font-weight: 400;
}

.btn-submit {
    font-size: 16px;
    color: #eeeeee;
    background-color: #4480e1;
    padding: 12px 32px;
    margin-top: 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    right: 60px;
}


.wrapper {
    width: 35%;
    padding: 20px 50px 50px;
    margin-top: 4px;
    margin-bottom: 60px;
    position: relative;
    border: 1px solid rgb(158, 156, 156);
}



.score {
    color: rgb(52, 96, 168);
    margin-bottom: 20px;
}

.description {
    font-style: italic;
}